{% load static %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="wrapper fadeInDown">
  <div id="formContent">
    <div class="fadeIn first">
     <!-- <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="icon" alt="User Icon" /> -->
    </div>
    <form method="post">
      {% csrf_token %}
      <input type="text" id="company_name" class="fadeIn second" name="company_name" placeholder="Company Name">
      <input type="text" id="email" class="fadeIn second" name="email" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
      <input type="password" id="confirm_password" class="fadeIn third" name="confirm_password" placeholder="Confirm Password">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_type" id="radio1" value="vendor">
            <label class="form-check-label" for="radio1">Vendor</label>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="radio" name="user_type" id="radio1" value="customer">
            <label class="form-check-label" for="radio1">Customer</label>
        </div>

      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>
    <div id="formFooter">
        <a class="underlineHover" href="{% url 'login' %}">Already have an account? Log In</a>
    </div>

  </div>
</div>
